includes:
    - ./vendor/nunomaduro/larastan/extension.neon
    - phpstan-baseline.neon

parameters:
    level: 4
    paths:
        - src
        - config
        - database
    tmpDir: build/phpstan
    checkOctaneCompatibility: true
    checkModelProperties: false
    noUnnecessaryCollectionCall: false
    checkMissingIterableValueType: false
    parallel:
        maximumNumberOfProcesses: 4
